.sidebar_logo{
    float: left;
    width: 24px;
  }

  body{
    background: rgb(253, 88, 88);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .menu{
    width: 100%;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
  }

  .menu li{
    display: inline;
  }
  
  li a{
    color: white;
    font-family: "Microsoft Sans Serif", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .selected{
    text-decoration: underline;
    text-decoration-style: solid;
  }

  li a:hover, .selected:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  hr {
    color: red;
  }

  .badges{
    width: 100%;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
  }

  .badges li{
    display: inline;
  }

  .badges li > a {
    padding: 0px;
  }