---
title: blog
layout: generic
stylesheet: main
---

<div class="blog_list">
	<h1>Latest Posts</h1>
	{% for post in paginator.posts %}
	<div class="post">
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<p class="author">
			<span class="date">{{ post.date }}</span>
			{{ post.content | truncate: 150, "..." }}
		</p>
	</div>
	{% endfor %}

	<!-- pagination links -->
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">
				Previous
			</a>
		{% else %}
		<span class="previous"><i>Previous</i></span>
		{% endif %}
		<span class="page_number">
			<b>Page:</b> {{ paginator.page }} of {{ paginator.total_pages }}
		</span>
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		{% else %}
		<span class="next "><i>Next</i></span>
		{% endif %}

		<form action="https://api.follow.it/subscription-form/WWxwbEFnekNueHRGdk1rNm5uSXRIZFc1UEN5MTdCZUlmUms0Mlkxa1FKbkZWck1aYm1MTkhWbVpzcmJoRVdBRmRJU1ZpQTdCM2hLZ1VReTBlY1R4ME9ZQmwyK1djNzEvYVJ1ZkMyc3BQZTZYQVJ2KzhWSDJ4R05WNUdEL2NBcU98cldiY2VYU1dnVmN3SWFhdHNsZENJbHpOTEhXZS8wN1NrdlBicVFsT3g3UT0=/8" method="post">
			<p>Want to subscribe to my newsletter?</p>
			Email: <input type="text" name="email"><br>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
