<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/assets/css/{{ page.stylesheet }}.css">
		<title>shodanwashere - {{ page.title }}</title>
	</head>
	<body>
		{% include header.html %}

		<div class="blog_list">

			<a class="back_button" href="/blog/">Back to Blog</a>

			<div class="post">
				<h1>{{ page.title }}</h1>
                		<p class="author">
				<span class="date">{{ page.date | date_to_string }} - {{ page.author }}</span>
					{{ content }}
                		</p>
        		</div>
			<form action="https://api.follow.it/subscription-form/WWxwbEFnekNueHRGdk1rNm5uSXRIZFc1UEN5MTdCZUlmUms0Mlkxa1FKbkZWck1aYm1MTkhWbVpzcmJoRVdBRmRJU1ZpQTdCM2hLZ1VReTBlY1R4ME9ZQmwyK1djNzEvYVJ1ZkMyc3BQZTZYQVJ2KzhWSDJ4R05WNUdEL2NBcU98cldiY2VYU1dnVmN3SWFhdHNsZENJbHpOTEhXZS8wN1NrdlBicVFsT3g3UT0=/8" method="post">
				<p>Liked this post? Get more like it by subscribing to my newsletter!</p>
				Email: <input type="text" name="email"><br>
				<input type="submit" value="Submit">
			</form>
		</div>

		{% include footer.html %}
	</body>
</html>
